* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.mongo{
   text-decoration: none;
   color: blue;
   font-size: 28px;
}

.A h1 {
   text-align: center;
   margin: auto;
   width: 600px;
   word-spacing: 5px;
   letter-spacing: 1px;
   font-size: 48px;
   font-family: Arial, Helvetica, sans-serif;

}

.one {
   margin-right: 300px;
   margin-left: 600px;
   margin-top: 100px;
   margin-bottom: 40px;


}

.our {
   font-size: 25px;
   text-align: center;
   margin: auto;
   width: 700px;
   font-weight: 500;
}

.safety p {
   font-size: 16px;
   margin: 40px;
   width: 370px;
   margin-top: 5px;
   margin-bottom: 3px;
}

.safety a {
   text-decoration: none;
   color: black;
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   width: 50rem;
   font-weight: 600;
   
} 

.safety .highlights {
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   width: 370px;
   background-color: #F1F4F7;
   word-spacing: 4px;
   padding: 10px;

}
.safety h2{
   font-size: 38px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 10px;
   margin-top: 10%;
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   width: 370px;
}
   
/* i {
   margin: auto;
   width: 200px;
   size: 40px;
} */

/* .data i {
   margin: auto !important;
   width: 100px !important;
} */
/* .covid a{
   width: 200px;
} */

.highlights {
   margin-left: 70px;
   margin-right: 120px;
   background-color: #F1F4F7;
   word-spacing: 4px;
   padding: 10px;


}

.data .highlights {
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   background-color: #F1F4F7;
   word-spacing: 4px;
   padding: 10px;
   width: 350px;
}

.highlights li {
   margin-left: 50px;
   margin-right: 1px;
}

.highlights p {
   margin-left: 30px;
   font-weight: 500;



}

.data p {
   font-size: 16px;
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   width: 350px;

}

.data a{
   text-decoration: none;
   color: black;
   margin: 60px;
   
   font-weight: 600;
}

.election p{
   font-size: 16px;
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   width: 350px;
}

 .election a {
   text-decoration: none;
   color: black;
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   width: 350px;
   font-weight: 600;
   margin-top: 20px;

}
.F p{
   width: 440px;
   padding: 5px;

}
.election .highlights {
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   width: 350px;
   background-color: #F1F4F7;
   word-spacing: 4px;
   padding: 10px;
}
.election h2 {

   font-size: 38px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 10px;
   margin-top: 10%;
   margin: 40px;
   
   margin-bottom: 3px;
   width: 350px;
}
.covid h2 {

   font-size: 38px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 10px;
   margin-top: 10%;
   margin: 40px;
   
   margin-bottom: 3px;
   width: 350px;
}

.covid .highlights{
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   background-color: #F1F4F7;
   word-spacing: 4px;
   padding: 10px;
   width: 390px;
}

.covid p {
   font-size: 16px;
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   width: 350px;
}

 .covid a {
   text-decoration: none;
   color: black;
   margin: 40px;
   margin-top: 5px;
   margin-bottom: 3px;
   width: 350px;
   font-weight: 600;

} 

.build h1 {
   margin: auto;
   width: 600px;
   word-spacing: 5px;
   letter-spacing: 1px;
   font-size: 48px;
   font-family: Arial, Helvetica, sans-serif;
}

.build p {
   margin: auto;
   width: 360px;
   margin-bottom: 40px;
   text-align: center;

}

.inn h3{
   font-size: 24px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.inn a{
   text-decoration: none;
   color: black;
   margin: auto;
   font-weight: 600;
}


.learning h3{
   font-size: 24px;
   margin-top: 20px;
   margin-bottom: 20px;

}
.learning a{
   text-decoration: none;
   color: black;
   margin: auto;
   font-weight: 600;
}

.free {
   text-decoration: none;
   color: black;
   margin-right: 110px;
   font-weight: 600;
}


.G h4 {
   font-size: 18px;
   margin-top: 10px;
}
.G{
   margin: auto;
   width: 1400px;
}
.G a {
   text-decoration: none;
   color: black;
   margin-right: 110px;
   font-weight: 600;
}

h2 {

   font-size: 38px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 10px;
   margin-top: 10%;
   margin-left: 70px;
   margin-right: 140px;
}

.b {
   color: #F1F4F7;
   background-color: grey;
   margin-right: 10%;
   box-sizing: border-box;
}

.c {
   color: black;
   background-color: aliceblue;
}

.two {
   display: none;
}

h4 {
   font-size: 20px;
}

.accordion {
   background-color: #F1F4F7;

}

.accordion-body {
   background-color: #F1F4F7;
   margin: 0px;
   padding: 50px;
   font-size: 13px;
   line-height: 32px;

}

.accordion-body ul {
   list-style-type: none;
}

.accordion-button {
   background-color: #F1F4F7;
   border-color: #F1F4F7;
   border: none;
   padding: 0;

}

.last {
   background-color: #F1F4F7;
   margin: 0px;
   padding: 50px;

}

.last p {
   font-size: 15px;
   font-weight: bold;
}

.last li {
   font-size: 13px;
   line-height: 32px;
   list-style-type: none;
}

.last a {
   color: black;
   padding: 4px;


}
.lasttwo{
   display: none;
}
.build {
   text-align: center;
}

.footer a {
   text-decoration: none;
   padding: 7px;
   color: black;

}

.follow {
   list-style-type: none;
   font-size: 22px;
}

/* @media screen and(max-width: 768px) {
h1{
    
    text-align: center;
    color: blue;
    text-align: center;
}
.A h1{
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 10%;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.huf{
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 100px;
    margin-bottom: 40px;
    width: 15%;
    height: 14%;

}
 .a{
    font-size: 20px;  
    text-align: center;  
    margin-right: 40px;
    margin-left: 40px;    
    font-weight: 500;
 }
 .C p{
    font-size: 16px;
    margin-left: 10px;
    margin-right: 0px;
 }
 .C a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 330px;
    font-weight: 600;
    margin-top: 20px;
    

 }
 i{
    margin-right: 10px;
    width: 4rem;
    size: 40px;
 }
 .pink{
    width: 35rem;
    height: 35rem;
    margin-left: 0px;
    margin-right: 0px;

 }
 .highlights{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #F1F4F7;
    word-spacing: 4px;
    padding: 10px;


 }
 .green .highlights{
    margin-left: 50px;
    margin-right: 0px;
    background-color: #F1F4F7;
    word-spacing: 4px;
    padding: 10px;
 }
 .D .highlights{
    margin-left: 50px;
    margin-right: 120px;
    background-color: #F1F4F7;
    word-spacing: 4px;
    padding: 10px;
 }
 .highlights li{
    margin-left: 50px;
    margin-right: 1px;
 }
 .highlights p{
    margin-left: 30px;
    font-weight: 500;
    


 }
 .green p{
    font-size: 16px;
    margin-left: 60px;
    margin-right: 140px;

 }
 .green a{
    text-decoration: none;
    color: black;
    margin-left: 70px;
    margin-right: 140px;
    font-weight: 600;
 }
 .D p{ 
    font-size: 16px;
    margin-left: 70px;
    margin-right: 140px;
 }
 .D a{
    text-decoration: none;
    color: black;
    margin-left: 70px;
    margin-right: 140px;
    font-weight: 600;
    margin-top: 20px;
    
 }
 .E p{
    font-size: 16px;
    margin-left: 60px;
    margin-right: 140px;
 }
 .E a{
    text-decoration: none;
    color: black;
    margin-left: 70px;
    margin-right: 140px;
    font-weight: 600;

 }
 .build h1{
    margin: 300px;
    margin-top: 60px;
    margin-bottom: 8px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .build p{
    margin: 490px;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;

 }
 .F h3{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .F p{
    margin-right: 110px;
 }
 .F a{
    text-decoration: none;
    color: black;
    margin-right: 110px;
    font-weight: 600;

}
.free{
    text-decoration: none;
    color: black;
    margin-right: 110px;
    font-weight: 600;
}
 .G h4{
    font-size: 18px;
    margin-top: 10px;
 }
 .G a{
    text-decoration: none;
    color: black;
    margin-right: 110px;
    font-weight: 600;
 }
h2{

    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 10px;
    margin-top: 10%;
    margin-left: 6px;
    margin-right: 0px;
}
.b{
    color: #F1F4F7;
    background-color: grey;
    margin-right: 10%;
    box-sizing: border-box;
}
.c{
    color: black;
    background-color: aliceblue;
}
h4{
    font-size: 20px;
}
.last{
    background-color: #F1F4F7;
    margin: 0px;
    padding: 50px;
    
}
.last p{
    font-size: 15px;
    font-weight: bold;
}
.last li{
    font-size: 13px;
    line-height: 32px;
    list-style-type: none;
}
.last a{
    color: black;
    padding: 4px;
    
}
.build{
    text-align: center;
}
.footer a{
    text-decoration: none;
    padding: 7px;
    color: black;

}
.follow{
    list-style-type: none;
    font-size: 22px;
}

} */