.nav img{
    font-size: 50px;
    display: block;
    margin: auto;
    color: black;
    
}
 /* .lop{
 
  
  overflow: visible;
}

.one{
  border-bottom: 30px solid red; 
  color: black;
 
  
}
.two{
  border-bottom: 30px solid red; 
  color: black;
  
  
}
.three{
  border-bottom: 30px solid red; 
  color: black;
  
  
}
.four{
  border-bottom: 30px solid red; 
  color: black;
  
  
}
.five{
  border-bottom: 30px solid red; 
  color: black;
  
  
}
.six{
  border-bottom: 30px solid red; 
  color: black !important;
  
}
.seven{
  border-bottom: 30px solid red; 
  color: black !important;
  
  
}





.two:hover{
    color: black;
    border-bottom: 30px solid white;
    

} */


h1{
    background-image: url(image/bgnetflix.jpg);
    color: white;
    padding: 9%;
    font-size: 70px;
    font-weight:bold;
    text-align: center;

}
/* .plug{
    background-image: url(image/device-panel-background2.jpg);
    padding: 1%;
}
.plug h3{
    color: white;
    border-left: 2px #E50914 solid;
    padding-left: 20px;
    font-size: 38px;
    width: 400px;
}
.plug p{
    color: white;
    
    width: 580px;
}
.smart{
    display: flex;
    flex-direction: right;
    
}
.smart button{
    
    border: 1px solid #E50914;
    color: #E50914;
    font-size: 16px;
    width: 10rem;
} */
strong{
    color: #55555A;
}
.help a{
    color: #AAAAAA;
    text-decoration: none;
    border-right: 1px solid #AAAAAA;
    padding-right: 7px;
    font-size: 15px;
}
.net{
    color: #AAAAAA;
    font-size: 14px;
    padding: 1px;
    text-align: center;
    margin: 10px;
    margin-bottom: 5%;
}
.term a{
    color: #AAAAAA;
    text-decoration: none;
    padding: 8px;
    font-size: 12px;
}
.hey{
    float: right;
}
.sign{
  float: right;
}
img:focus{
  color: #55555A;
}
.pan{
  border: 1rem black solid;
  background-color: black;
  margin: 5px;
}
img:focus {
  color: #55555A;
}

.rat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.rat button {
  /* border-bottom: 4px solid red !important; */
  border: 0px solid red;
  background-color: white;
  /* padding-left: 90px; */
  /* width: 0px; */
}

.cat {
  border-bottom: 17px solid red;
  padding: 5px;
}
.cat img{
  width: 65% !important;
  padding: 20px;
}

.cat:focus {
  border-bottom: 0px solid red;
}

.log {
  /* height: 15rem; */
  /* width: 1000px; */
  /* overflow: scroll; */
  display: flex;
  overflow-x: auto;
  /* scroll-behavior: smooth; */
  /* overflow: scroll; */

}
#gamr, #artr, #topr, #tabr, #lapr, #blur{
  display: none;
}

.plug {
  background-image: url(image/device-panel-background2.jpg);
  background-repeat:no-repeat;
   /* padding: 6px; */
   background-size: cover; 
 
  
}

.plug h3 {
  color: white;
  border-left: 2px #E50914 solid;
  padding-left: 20px;
  margin-left: 3%;
  font-size: 38px;
  width: 100%;
}

.plug p {
  color: white;
  margin: auto;
  width: 100%;
}